*{ 
    margin:0px; 
    padding:0px;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body{
    font-size: 20px;
    overflow-x: hidden;
    color:white;
    font-family: 'Varela Round', sans-serif;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.97)), url("../../assets/images/farm-wheat.jpg");
    /* background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../../assets/images/farm-sunset-flower.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    height:200vh;
}

.clearfix:after{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}


.logo{
    height: 150px;
    width: auto;
    float:left;
    margin-top:20px;
}

.div-row{
    max-width: 1180px;
    margin: 0 auto;
}

.main-nav{
    display:block;
    float:right;
    margin-top: 60px;
}

.main-nav li{
    display: inline-block;
    list-style-type: none;
    margin-left: 40px;
}


.main-nav li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 100;
}

.main-content{
    text-align: center;
    width:100%;
    position:absolute;
    top:40%;
    left:3%;
    height:100vh;
    /* transform: translate(-50%,-50%); */
}

.main-content-below{
    text-align: left;
    width: 100%;
    position: absolute;
    top: 117%;
    left: 3%;
}

.features{
    list-style: none;
}

.features li{
    line-height: 248%;
    font-size: 157%;
}

h1{
    color:#fff;
    font-size: 240%;
    word-spacing: 5px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    padding: 10px,30px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    color: #fff;
    transition: background-color 0.2s, border 0.2s color 0.2s;
}

a.btn:hover{
    color:white;
    text-decoration: none;
    font-weight: bold;
}

.btn-full{
    background-color: transparent;
    margin-right: 15px;
    color:#fff;
    border:1px solid #fff;
}

.btn-nav{
    background-color: transparent;
    color:#fff;
    border:1px solid #fff;
}

.mobile-icon{
    display: none;
}

/* footer {
    background-color:#0009;
    color: white;
    text-align: center;
}

footer label{
    margin: 0px;
    font-size: 65%;
} */

@media only screen and (max-width:1180px){
    .main-content{
        width:95%;
        padding:0 2%
    }
}

@media only screen and (max-width:998px){
    h1{
        font-size: 200%;
    }
}


@media only screen and (max-width:768px){

    .spinner-border{
        width: 1rem;
        height: 1rem;
    }

    .div-row{
        height: 106px;
        /* background-color: #0000006e; */
    }

    .logo{
        position: relative;
        top: -5px;
    }

    .mobile-icon{
        margin-top: 37px;
        margin-right: 36px;
    }

    h1{
        font-size: 180%;
    }

    .main-nav{ 
        display:none;
        float:left;
        background-color: #0000006e;
        width: 100vw;
        position: absolute;
        top: 46px;
        padding: 3% 0%;
    }

    .mobile-icon{
        display: inline-block;
        color:#fff;
        float:right;
        margin-top:30px;
        margin-right:20px
    }

    .main-nav li{
        display: block;
        margin-top:10px;
        text-align: center;
        margin-left: 0px;
    }
}


@media only screen and (max-width:480px){

    .div-row{
        height: 106px;
        /* background-color: #0000006e; */
    }

    .logo{
        position: relative;
        top: -10px;
    }

    .main-nav{ 
        display:none;
        float:left;
        background-color: #0000006e;
        width: 100vw;
        position: absolute;
        top: 46px;
        padding: 3% 0%;
    }

    .mobile-icon{
        margin-top: 37px;
        margin-right: 36px;
    }

    .main-nav li{
        display: block;
        margin-top:10px;
        text-align: center;
        margin-left: 0px;
    }

    .features li{
        line-height: 298%;
        font-size: 113%;
    }

    .btn-full, .btn-nav{
        margin: 2% auto;
        width: 100%;
    }

    h1{
        font-size: 160%;
    }
}