.feedback-section{
    height:100vh;
    background-color: black;
    /* background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../images/farm-road.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  */
}

.item-categogry{
    font-size: 180%;
}
.item-list{
    list-style-type: none;
}

.item-list .badge{
    font-weight: lighter;
    margin: 0% 6% 0% 0%;
    float: right;
    background-color: #00000040;
    border-radius: 4px;
    font-size: 80%;
}

.item-list label{
    line-height: 0px;
}

.half-section{
    width: 92%;
    padding: 7%;
}

.half-section .form-control{
    color:#fff;
    background-color: #fff0;
}

.section-title{
    font-size: 174%;
}

.right-half{
    text-align:center;
}

.chef-name{
    font-size: 150%;
}

.chef-image{
    background-image: url("../../assets/images/chef.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    height: 150px;
    width: 150px;
    border-radius: 82px;
    margin:auto;
}

.social-icons{
    text-decoration: none;
    color: white;
    margin: 0% 2%;
    font-size: 129%;
}

a.social-icons:hover{
    color: white;
    text-decoration: none;
}

.btn-submit-feedback{
    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 7px;
    height: 37px;
    width: 131px;
    float: right;
    letter-spacing: 2px;
}

#feedback{
    /* padding-bottom: 10%; */
}

.successButton-feedback-temp{
    width: 18% !important;
    background-color: #2ecc71 !important;
    color: white !important;
    border-color: #2ecc71 !important;
    box-shadow: 1px 1px 9px #2ecc71 !important;
}

@media only screen and (max-width:768px){
    .menu-section{
        height:100%;
    }
    
    .half-section{
        width: 100%;
        padding: 7%;
    }

    .section-title{
        width: 100%;
        text-align:center;
    }

    .feedback-section{
        height:100%;
        padding-bottom: 40%;
    }

    .btn-submit-feedback{
        width: 100%;
    }
}

@media only screen and (max-width:480px){
    .menu-section{
        height:100%;
    }
    
    .half-section{
        width: 100%;
        padding: 7%;
    }

    .section-title{
        text-align: center;
        text-align:center;
    }

    .feedback-section{
        height:100%;
        padding-bottom: 40%;
    }

    .btn-submit-feedback{
        width: 100%;
    }

    .successButton-feedback-temp{
        width: 100% !important;
        background-color: #2ecc71 !important;
        color: white !important;
        border-color: #2ecc71 !important;
        box-shadow: 1px 1px 9px #2ecc71 !important;
    }
}